{{ if .Read }}
func (s *{{ .StoreName }}) {{ .MsgName  }}(ctx context.Context, opts ...{{ .MsgName  }}Option) (map[interface{}]*{{ .MsgName  }}, error) {
	config := &query{{ .MsgName  }}Config{
		Store: s,
		filter: pg.NONE(),
		limit: 1000,
		rows: make(map[interface{}]*{{ .MsgName  }}),
	}
	for _, o := range opts {
		o(config)
	}
	err := s.select{{ .MsgName  }}(ctx, config, func(row *{{ .MsgName  }}) {
		config.rows[row.{{ GetPKName . }}] = row
		for _, cb := range config.cb {
			cb(row)
		}
	})
	if err != nil {
		return config.rows, err
	}
	{{ range $i, $f := SubQueries . }}
	if config.load{{ $f.MsgName  }} {
		// {{ $f.FK.Remote.Table.GoPackageImport }}
		{{ if eq $f.Table.StoreName $f.FK.Remote.Table.StoreName }}
	 	_, err = s.{{ $f.FK.Remote.Table.MsgName  }}(ctx, config.opts{{ $f.MsgName }}...)
		{{ else }}
		store := {{ PackagePrefix $f.Table $f.FK.Remote.Table}}New{{ $f.FK.Remote.Table.StoreName }}(s.conn)
		_, err = store.{{ $f.FK.Remote.Table.MsgName  }}(ctx, config.opts{{ $f.MsgName }}...)
		{{ end }}
	}
	if err != nil {
	 	return config.rows, err
	}
	{{ end }}
	for _, cb := range config.beforeReturn {
		err = cb(config.rows)
		if err != nil {
			return config.rows, err
		}
	}
	return config.rows, nil
}
func (s *{{ .StoreName }}) select{{ .MsgName }}(ctx context.Context, config *query{{ .MsgName  }}Config, withRow func(*{{ .MsgName  }})) error {
	base := 0
	placeholders := func(base *int, length int) []interface{} {
		arr := make([]interface{}, length)
		for i := range arr {
			*base++
			arr[i] = fmt.Sprintf("$%d", *base)
		}
		return arr
	}
	where, vals := pg.GetWhereClause(config.filter, &base)
	params := append([]interface{}{where}, placeholders(&base, 2)...)
	stmt, err := s.conn.PrepareContext(ctx, fmt.Sprintf(` 
	SELECT "{{ getColumnNames .  "\", \"" }}" 
	FROM "{{ .Name }}"
	%s
	LIMIT %s OFFSET %s`, params...))
	if err != nil {
		return fmt.Errorf("failed preparing query in 'select{{ .MsgName }}': %s", err)
	}
	vals = append(vals, config.limit, config.start)
	cursor, err := stmt.QueryContext(ctx, vals...)
	if err != nil {
		return fmt.Errorf("failed executing query in 'select{{ .MsgName }}' (with %+v) : %s", vals, err)
	}
	defer cursor.Close()
	for cursor.Next() {
		row := new({{ .MsgName  }})
		err := cursor.Scan( &row.{{ getFieldNames . ", &row." }} )
		if err != nil {
			return err
		}
		withRow(row)
	}
	return nil
}
{{ end }}
